var datetime = function() {
  var now = getDate()
  var month = now.getMonth() + 1
  var date = now.getDate()
  var hour = now.getHours()
  var minute = now.getMinutes()
  var second = now.getSeconds()

  return month + ' 月 ' + date + ' 日 ' + hour + ':' + minute + ':' + second
}

var date = function() {
  var now = getDate()
  var month = now.getMonth() + 1
  var date = now.getDate()

  return month + ' 月 ' + date + ' 日 '
}

var duration = function(min) {
  var p = min || 0
  var hour = p / 60
  var minute = p % 60
  return !!Math.floor(hour) ? Math.floor(hour) + ' 小时 ' + Math.floor(minute) + ' 分 ' : Math.floor(minute) + ' 分钟 '
}

var hours = function(value) {
  console.log(value)
  return Math.floor(value / 60)
}

module.exports = {
  datetime: datetime,
  date: date,
  duration: duration,
  hours: hours
}