var datetime = function (mills) {
  var date = getDate(mills);
  return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
};

var authkey = function (array) {
  return array.map(function (n) { return n.key}).join('-')
}

module.exports = {
  dtFmt: datetime,
  keyFmt: authkey,
};